{
    "parser": "babel-eslint",
    "extends": [
        "standard",
        "standard-react"
    ],
    "plugins": [
        "promise",
        "react",
        "standard"
    ],
    "rules": {
        "indent": ["error", 4],
        "space-before-function-paren": ["error", "never"],

        "react/jsx-indent-props": ["error", 4]
    }
}
