/**
 * Generates a pair of in and out keyframe animations doing a basic from-to transition
 * between the values in the supplied property hashes (and back again in the 'out' animation).
 * @param  {String} name       The base name for the keyframes rule, the reverse will be created as [name]-out.
 * @param  {Object} props_from = {} A hash of the CSS properties and values to transition from.
 * @param  {Object} props_to = {} A hash of the CSS properties and values to transition to.
 */
$in-out-keyframes(name, props_from, props_to)
    @keyframes name
        from
            {props_from}
        to
            {props_to}
    @keyframes {name}-out
        from
            {props_to}
        to
            {props_from}

// vars
$parts-opacity = 0.8

$dot-bottom-position = -0.08em
$dot-window-height = 0.8em

// create the animations
$in-out-keyframes(collapsible-head, {
    letter-spacing: -0.5em
}, {
    letter-spacing: 0
})

$in-out-keyframes(collapsible-body, {
    letter-spacing: -0.8em,
    opacity: 0
}, {
    letter-spacing: 0,
    opacity: $parts-opacity
})

$in-out-keyframes(dot-drop, {
    top: -0.1em - $dot-window-height ,
    opacity: 0
}, {
    top: $dot-bottom-position,
    opacity: $parts-opacity
})

$in-out-keyframes(me-flip, {
    transform: rotateX(90deg),
    opacity: 0
}, {
    transform: rotateX(0deg),
    opacity: $parts-opacity
})
