@import url(\//fonts.googleapis.com/css?family=Jura)
@import 'title-keyframes'

// We have 2 collapsible elements at the moment
$collapsibles-count = 2

// Delay vars
$tld-flip-time = 0.5s
$tld-flip-buffer = 0.1s
$dot-drop-time = 0.4s
$dot-drop-buffer = 0.1s
$collapse-time = 0.5s

// Timing vars
$collapse-timing = ease-out
$dot-drop-timing = ease-out
$tld-flip-timing = ease-out

.title
    .collapsible-body
        opacity $parts-opacity

    .dot-wrap
        display inline-block
        overflow hidden
        max-height $dot-window-height
        .dot
            position relative
            display inline-block
            top $dot-bottom-position
            opacity $parts-opacity

    .tld
        display inline-block
        transform-origin 50% 80%
        transform-style preserve-3d
        perspective 600px
        opacity $parts-opacity

    &.collapsed
        .collapsible-word
            animation collapsible-head-out $collapse-time $collapse-timing forwards

            for i in 1..$collapsibles-count
                &:nth-child({3 - i}),&:nth-child({3 - i}) .collapsible-body
                    animation-delay ((i - 1) * $collapse-time) + ($dot-drop-time + $tld-flip-time + $tld-flip-buffer + $dot-drop-buffer)

        .collapsible-body
            animation collapsible-body-out $collapse-time $collapse-timing forwards

        .dot-wrap
            .dot
                animation dot-drop-out $dot-drop-time ($tld-flip-time + $tld-flip-buffer) $dot-drop-timing forwards

        .tld
            animation tld-flip-out $tld-flip-time $tld-flip-timing forwards

        // On hover, set all the reverse animations (could do this with animation-direction: reverse, but safari...)
        &.hover-active:hover
            .collapsible-word
                animation collapsible-head $collapse-time $collapse-timing backwards

                for i in 1..$collapsibles-count
                    &:nth-child({i}),&:nth-child({i}) .collapsible-body
                        animation-delay (i - 1) * $collapse-time

                .collapsible-body
                    animation collapsible-body $collapse-time $collapse-timing backwards

            .dot
                animation dot-drop $dot-drop-time (($collapsibles-count * $collapse-time) + $dot-drop-buffer) $dot-drop-timing backwards

            .tld
                animation tld-flip $tld-flip-time ($dot-drop-time + $tld-flip-buffer + $dot-drop-buffer + ($collapsibles-count * $collapse-time)) $tld-flip-timing backwards
