@import 'logo-styles/'

.logo-wrap
    font-size 10vmin
    display flex
    align-items center
    justify-content center
    height 100%

    perspective 1000px
    transform-style preserve-3d

    user-select none
    -webkit-user-select none
    cursor pointer

    animation logo-fade-in 4s ease-in 1 forwards

@keyframes logo-fade-in
    0%
        opacity 0
    50%
        opacity 0
    100%
        opacity 1
