@import 'logo-styles/'

.logo-wrap
    font-family sans-serif
    font-size 50pt
    display flex
    align-items center
    justify-content center
    height 100%

    perspective 1000px
    transform-style preserve-3d

    user-select none
    -webkit-user-select none
    cursor pointer
